#unique-body {
    background: rgb(3,39,101);
    background: linear-gradient(90deg, rgba(3,39,101,1) 11%, rgba(30,125,226,1) 50%, rgba(57,5,28,1) 100%);
}

.nav {
    z-index: 1000; 
}

.intro {
    height: calc(100vh - 56px);
  }
  
  .mask-custom {
    background: rgba(24, 24, 16, .2);
    border-radius: 2em;
    backdrop-filter: blur(15px);
    border: 2px solid rgba(255, 255, 255, 0.05);
    background-clip: padding-box;
    box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
  }

  .weather-box img {
    width: 40%;
  }
  .weather-box {
    text-align: center;
    margin: 40px 0;
  }
  .weather-box .temperature {
    position: relative;
    font-size: 64px;
    line-height: 1;
    font-weight: 700;
    margin: 20px 0 6px -30px;
  }

  .weather-box .temperature span {
    position: absolute;
    font-size: 24px;
    margin-left: 4px;
  }

  .weather-box .description {
    font-size: 22px;
    font-weight: 500;
    text-transform: capitalize;
  }

